body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
}

code {
  font-family: 'Roboto Mono', monospace;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {text-decoration: none}

p.x-small {font-size: x-small}

span.gray { color: gray; }

img.company-logo { height:24px }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(Roboto.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(RobotoMono.ttf) format('truetype');
}
